@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 2em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #414141;
    font-size: 1.5em;
    line-height: 1.5em;
}
h1 {
    color: #125272;
    margin-top: 1em;
    line-height: 1.5em;
}
h1::before {
    content: '';
    background: palevioletred;
    padding: 5px 3px;
    border-radius: 2px;
    margin-right: 11px;
}
h2, h3, h4, h5, h6 {
    color: #125272;
    margin-top: 2em;
    text-transform: uppercase;
}
hr {
    background: #eaeaea;
    margin: 2em 0;
    border: none;
    padding: 1px;
}
a {
    color: palevioletred;
    text-decoration: none;
    font-style: italic;
}
span.label {
    font-weight: 600;
}
span.silent {
    color: #cccccc;
}
span.italic {
    font-style: italic;
}
body > div ,
header {
    margin: 2em auto;
    max-width: 900px;
}
body > div.large {
    max-width: 1080px;
}
body div > div {
    margin-left: 2em;
}
table {
    width: 75%;
}
table.small {
    max-width: 400px;
}
table tr:nth-child(even) {
    background-color: #eaeaea;
}
table th {
    width: 30%;
    color: #125272;
}
table, th, td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
    padding: 2em;
    font-size: 90%;
}
table.small, .small th, .small td {
    padding: 1em;
}
code.tag {
    background-color: #efefef;
    font-size: calc(100% - 5px);
    color: palevioletred;
    padding: 2.5px 4px;
    border-radius: 4px;
    margin: 0 1px;
    vertical-align: middle;
    word-wrap: break-word
}
code { 
    border-radius: 10px;
}
pre {
    white-space: break-spaces;
}
ol {
    list-style-type: upper-roman;
}
ol.number {
    list-style-type: decimal;
}
ol li p {
    font-weight: normal;
}
q {
    quotes: "“" "”" "‘" "’";
    display: block;
    text-align: center;
    padding: 1em 0;
    margin: 0;
    color: #555555;
}
q::before {
    content: open-quote;
    font-size: 400%;
    color: #cccccc;
    font-family: initial;
    vertical-align: middle;
    line-height: .75em;
    padding-right: 10px;
    margin-left: -27px;
}
q::after {
    content: close-quote;
    font-size: 400%;
    color: #cccccc;
    font-family: initial;
    vertical-align: middle;
    line-height: .75em;
    padding-left: 10px;
}
q + q {
    margin-top: 1em;
}
.nav-prev {
    float: left;
    padding-bottom: 2em;
    margin-left: 0;
    color: #cccccc;
}
.nav-prev::before {
    content: 'Previous: ';
}
.nav-next {
    float: right;
    padding-bottom: 2em;
    margin-left: 0;
    color: #cccccc;
}
.nav-next::before {
    content: 'Next: ';
}
.center {
    text-align: center; 
    margin: auto;
}
.right {
    text-align: right;
    margin: unset;
}
button {
    background-color: palevioletred;
    font-size: .75em;
    color: #efefef;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
}
@media only screen and (max-width: 768px) {
    body {
        font-size: 100%;
    }
    h1 {
        margin-top: .75em;
    }
    table {
        width: 100%;
    }
    q {
        text-align: left;
    }
    q::before {
        font-size: 200%;
        padding-right: 7px;
        margin-left: unset;
    }
    q::after {
        font-size: 200%;
        padding-left: 7px;
    }
    .nav-prev {
        float: unset;
        padding: 0;
        text-align: left;
        padding-bottom: 1em;
    }
    .nav-next {
        float: unset;
        padding: 0;
        text-align: left;
    }
}